<!-- API Javascript -->
<%= render partial: 'api/api_js' %>
<!-- End API Javascript -->

<%= render partial: 'pages/charts/users' %>

<div>
    <div id="ad_container" class="row">
 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738655&bid=1825947" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code -->
    </div>
</div>

<% if user_signed_in? %>
    <!-- LOGGED IN -->
    <%= render partial: 'pages/home_details/home_logged_in' %>
    <!-- END LOGGED IN -->
<% else %>
    <!-- NOT LOGGED IN -->
    <%= render partial: 'pages/home_details/home_not_logged_in' %>
    <!-- END NOT LOGGED IN -->
<% end %>

	<!-- API Extenal Javascript -->
	<%= render partial: 'api/api_external_js' %>
	<!-- End API Extenal Javascript -->
