<div>
	<!-- Recommenders Panel JS -->
	<%= render partial: 'pages/home_details/recommenders_panel' %>
	<!-- END Recommenders Panel JS -->

	<!-- Zipcode Panel -->
	<%= render partial: 'pages/home_details/zipcode_panel' %>
	<!-- End Zipcode Panel -->

	<!-- Pledge Panel -->
	<%= render partial: 'pages/home_details/pledge_panel' %>
	<!-- End Pledge Panel -->

	<!-- Pledge Panel JS -->
	<%= render partial: 'pages/home_details/pledge_panel_js' %>
	<!-- END Pledge Panel JS -->

	<!-- Recommenders Button Panel JS -->
	<%= render partial: 'pages/home_details/recommenders_panel_button' %>
	<!-- END Recommenders Button Panel JS -->

	<!-- API Javascript -->
	<%= render partial: 'api/api_js' %>
	<!-- End API Javascript -->

	<!-- API Extenal Javascript -->
	<%= render partial: 'api/api_external_js' %>
	<!-- End API Extenal Javascript -->

	<!-- Recommenders Javascript -->
	<%= render partial: 'pages/home_details/recommenders_panel_js' %>
	<!-- End Recommenders Javascript -->

</div>
