<div class="contain-to-grid sticky">
	<nav id="sm_top_nav" class="top-bar show-for-small-only" data-topbar role="navigation">
  		<ul class="left">
    		<li id="app_title" class="name small-name" onclick="return( window.location.href='<%= root_url %>'); ">
				<%= t(:AppTitle) %>
			</li>
  		</ul>
    	<ul class="right">
			<% if user_signed_in? %>
			<li id="userIsLoggedInSM"class="user-name-sm">
			  	<%= link_to edit_user_registration_path do %>
					<span id="signed_in_as"><%= current_user.email.truncate(25, omission: '...') %></span>
			  	<% end %>
      			<span class="has-dropdown icon-sm-additional">
					<a href="#" data-reveal-id="additionalModal">
						<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
					</a>
				</span>
			</li>
			<% else %>
			<li>
			  	<%= link_to new_user_session_path do %>
					<i class="fa fa-sign-in fa-2x icon-sm" aria-hidden="true"></i>
				<% end %>
			  	<%= link_to new_user_registration_path do %>
					<i class="fa fa-user-plus fa-2x icon-sm" aria-hidden="true"></i>
				<% end %>
			</li>
			<% end %>
		</ul>
	</nav>
   	<%= render partial: 'layouts/sm_additional_panel', :locals => { :resource => User.new , :resource_name => :user, :devise_mapping => Devise.mappings[:user]} %>
</div>
<div>
	<div id="ad_container" class="row">
 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738655&bid=1825947" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
	</div>
</div>
