<nav id="lg_top_nav" class="top-bar show-for-medium-up" data-topbar>

	<ul class="title-area">
    	<li id="app_title" class="name large-name" onclick="return( window.location.href='<%= root_url %>');">
			<h1><a href="#"><%= t(:AppTitle) %></a></h1>
    	</li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
		</ul>
	</section>

	<section class="top-bar-section">
	<ul class="right">
		<% if user_signed_in? %>
			<li id="userIsLoggedInLG" class="userLabel">
				User:
			</li>
			<li>
			  <%= link_to edit_user_registration_path do %>
				<%= current_user.email %>
			  <% end %>
			</li>
			<li class="navBarBetween">
			|
			</li>
			<li>
			  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
    		</li>
		<% else %>
      		<li class="has-dropdown">
				<a href="#" data-reveal-id="loginModal"><%= t(:sign_in) %></a>
    		</li>
      		<li class="has-dropdown">
				<a href="#" data-reveal-id="registerModal"><%= t(:register) %></a>
			</li>
   			<%= render partial: 'layouts/register_panel', :locals => { :resource => User.new , :resource_name => :user, :devise_mapping => Devise.mappings[:user]} %>
   			<%= render partial: 'layouts/login_panel', :locals => { :resource => User.new , :resource_name => :user, :devise_mapping => Devise.mappings[:user]} %>
		<% end %>
		<li>
		<% if current_user.nil? || current_user.locale.eql?('en') %>
		  <%= link_to users_set_locale_path(locale: 'es'), :method => :post do %>
			<%= image_tag 'spanish_icon_lg.png', :class => 'language-icon' %>
		  <% end %>
		<% else %>
		  <%= link_to users_set_locale_path(locale: 'en'), :method => :post do %>
			<%= image_tag 'english_icon_lg.png', :class => 'language-icon' %>
		  <% end %>
		<% end %>
		</li>
	</ul>
	</section>

</nav>
<div>
	<div id="ad_container" class="row">
 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738655&bid=1825947" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
	</div>
</div>
